.LoginWebrow0 {
  display: flex;
  margin-left: 93px;
  margin-top: 56px;
  width: 1059px;
  height: 224px
}
.style9 {
  margin-left: 0;
  margin-top: 5px;
  width: 489px;
  height: 224px
}
.LoginWebrow0column1 {
  position: relative;
  display: flex;
  margin-left: 390px;
  width: 100px;
  height: 156px;
  flex-direction: column
}
.style0,
.style1,
.style2 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0
}
.style0 {
  text-align: center;
  position: relative;
  margin-left: 22px;
  margin-top: 0;
  font-size: 2.375em;
  height: 46px
}
.style1,
.style2 {
  font-size: .8125em;
  height: 22px
}
.style1 {
  margin-left: 5px;
  margin-top: 43px
}
.style2 {
  margin-top: 23px
}
.LoginWebrow0column2 {
  position: relative;
  display: flex;
  margin-left: 969px;
  margin-top: 86px;
  width: 83px;
  height: 143px;
  flex-direction: column
}
.style3 {
  font-family: BalsamiqSans,serif;
  font-size: .8125em;
  text-indent: 10px;
  margin-top: 0;
  width: 100%;
  align-self: stretch
}
.style3,
.style5,
.style7 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 28px;
  flex-shrink: 0
}
.style5 {
  font-family: BalsamiqSans,serif;
  font-size: .8125em;
  text-indent: 10px;
  align-self: stretch;
  margin-top: 17px;
  width: 100%
}
.style7 {
  box-shadow: 3px 3px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 32px;
  margin-top: 42px;
  width: 58px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style10,
.style8 {
  font-family: BalsamiqSans,serif;
  font-size: .8125em
}
.style8 {
  text-align: center;
  height: 14px
}
.style10 {
  margin-left: 199px;
  margin-top: 22px;
  height: 53px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style11 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 3.375em;
  margin-left: 274px;
  margin-top: 31px;
  height: 65px
}
.RegistrationWebrow1 {
  display: flex;
  margin-left: 317px;
  margin-top: 112px;
  width: 320px;
  height: 40px;
  align-items: stretch
}
.style12,
.style14 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style12 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 15px;
  margin-left: 114px;
  width: 116px
}